@using VendorAndOrderTracker.Models;

<h3>Vendor</h3>  
<div>@Model.Name</div>
<div>@Model.Description</div>

@{
    int i = 0;
}
<h3>Orders for this vendor</h3>
<ul>
@foreach (Order item in Model.Orders)
{
    <li><a href=@("/Vendor/" +ViewContext.RouteData.Values["id"] + "/Order/" + i)>@item.Title</a></li>
    i++;
}
</ul>


<a href=@("/Vendor/" +  ViewContext.RouteData.Values["id"] + "/Order/new" )>Add an order to this vendor</a>
<a href=@("/Vendor/" +  ViewContext.RouteData.Values["id"] + "/edit" )>Edit this vendor</a>
<form action=@("/Vendor/" + ViewContext.RouteData.Values["id"] + "/delete" ) method="post">
<button type="submit">Delete this vendor</button>
</form>
<form action=@("/Vendor/" + ViewContext.RouteData.Values["id"] +"/delete" ) method="post">
<button type="submit">Delete all orders from this vendor</button>
</form>
