@using VendorAndOrderTracker.Models;
@using System.Web;

@foreach (Order item in Model.Orders)
{
    int i = 0;
    <div><a href=@("/Vendor/" +ViewContext.RouteData.Values["id"] + "/Order/" + i)>@item.Title</a></div>
    i++;
}