<div>@Model.Title</div>
<div>@Model.Description</div>
<div>@Model.Price</div>
<div>@Model.Date</div>

<form action=@("/Vendor/" + ViewContext.RouteData.Values["id"] + "/Order/" + ViewContext.RouteData.Values["id"]  ) >

</form>